.brand-name {
  font-weight: bold;
  color: #2e7d32;
  font-size: 18px;
}

.navbar {
  padding: 10px 20px;
}

input.form-control {
  border-radius: 20px;
}

button.btn-success {
  border-radius: 50px;
}