<div class="card" [class.active]="qty > 0">



    <!-- IMAGE -->
    <div class="img-box">
        <img [src]="product.image" />

        <!-- 🔥 OFF BADGE -->
        <div class="badge" *ngIf="product.discount">
            ₹{{product.discount}} OFF
        </div>
        <!-- ADD BUTTON -->
        <button *ngIf="qty === 0" class="add-btn" (click)="add()">
            ADD
        </button>

        <!-- QTY BUTTON -->
        <div *ngIf="qty > 0" class="qty-box">
            <button (click)="remove()">−</button>
            <span>{{qty}}</span>
            <button (click)="add()">+</button>
        </div>

    </div>

    <!-- PRICE -->
    <div class="price-row">
        <span class="price">₹{{product.price}}</span>
        <span class="old-price">₹{{product.originalPrice}}</span>
    </div>

    <!-- NAME -->
    <div class="name">{{product.name}}</div>

    <!-- WEIGHT -->
    <div class="weight">{{product.quantityLabel}}</div>
</div>