@use '@angular/material' as mat;

/* Required */
@include mat.core();

/* Green Theme */
$primary: mat.define-palette(mat.$green-palette, 600);
$accent: mat.define-palette(mat.$light-green-palette, 400);
$warn: mat.define-palette(mat.$red-palette);

/* Theme config */
$theme: mat.define-light-theme((color: (primary: $primary,
                accent: $accent,
                warn: $warn,
            )));

/* Apply theme */
@include mat.all-component-themes($theme);

/* Global styles */
body {
    margin: 0;

    padding-top: 70px;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}